.account {
  background: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  border: none;
  text-decoration: none;
}
.title {
  color: rgb(255, 255, 255);
  background-color: rgb(38, 32, 32);
  font-size: 2.1rem;
  font-weight: 600;
}
.leafImag {
  height: 50px;
  margin-left: 5px;
}
.form_input:focus {
  box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25);
}
p {
  line-height: normal;
  font-weight: 100;
  font-size: 15px;
}

@media (min-width: 768px) and (max-width: 992px) {
  .modal {
    max-width: 80%;
    margin: auto;
    width: 100px;
    height: auto;
    color: rgb(255, 30, 229);
  }
}
